package templates

templ Home() {
	<!doctype html>
	<html lang="en">
    @HtmlHeader()
	<body>
	@PageHeader()
	<div class="container">
        Hello Go Flaskr - with some Air for live reloading :-)
	</div>
	</body>
	</html>
}